*{
    font-family: 'Hanken Grotesk';
    font-weight: none;
}
body{
    background-color: hsl(0, 0%, 100%);
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
}
.content{
    display: flex;
    border-radius: 5%;
    box-shadow: 10px 10px 15px hsl(221, 100%, 96%);
}
.result p{
    font-size: 18px;
    margin-top: 0px;
}
.result{
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));   
    border-radius: 5%;
}
.result .tscore{
    text-align: center;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.tscore p{
    font-size: xx-small;
    color: hsla(241, 100%, 89%, 0.6);
}
.result h4{
    color: hsl(241, 100%, 89%);
}
.result h1, h3{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.result h1{
    margin-bottom: 0px;
    font-size: xx-large;
}
.result .score{
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 81%, 54%, 0.1));
    width: 120px;
    height: 120px;
}
.remarks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.remarks p{
    margin: 0px 40px 30px 40px;
    color: hsl(241, 100%, 89%);
    font-size: x-small;
}
.summary{
    width: 50%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
/*.summary div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/
#ctn_btn{
    font-size: 18px;
    margin: 10px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(221, 100%, 96%);
    border-radius: 30px;
    padding: 10px;
    border: none;
}
#ctn_btn:hover{
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}
.bullets{
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#reaction {
    color: hsl(0, 100%, 67%);
}
.of100{
    color: hsl(241, 100%, 89%);
}
#memory{
    color: hsl(39, 100%, 56%);
}
#verbal{
    background-color: hsla(221, 100%, 96%, 0.7);
    border-radius: 10px;
    color: hsl(166, 100%, 37%);
}
#visual{
    background-color: hsla(221, 100%, 96%, 0.7);
    border-radius: 10px;
    color: hsl(234, 85%, 45%);
}
.bullets .score{
    font-weight: 700;
    color: hsla(224, 30%, 27%, 0.6);
}
.bullets strong{
    color: hsla(224, 30%, 27%, 1);
}
.bullets img{
    padding: 0px 5px 0px 5px;
}

@media screen and (max-width:468px) {
    *{
        box-sizing: border-box;
    }
    .content{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        border-radius: 0;
    }
    .center{
        position: absolute;
        top: 0;
        left: 0;
    }
    .result{
        width:100%;
        border-radius: 0px 0px 30px 30px;
    }
    .result p{
        font-size: small;
    }
    .summary{
        justify-content: center;
        width: 100%;
        margin: 20px;
    }
    .summary h4{
        margin: 10px;
    }
    .bullets{
        margin: 10px;
    }
    #reaction, #memory, #verbal, #visual {
        padding: 15px;
    }
}
